.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 26px;
  overflow: hidden;

  background-color: $colorBackground--mostLight;

  &--backgroundDark {
    background-color: $colorBackground--moreLight;
  }
}

.contacts__title {
  margin: 0;
  padding-right: 10px;
  max-width: 140px;

  font-weight: normal;
  font-size: 16px;
  line-height: calc(18 / 16);
  font-family: $fontMajor;
  color: $colorFont--moreDark;
  text-transform: uppercase;
}

.contacts__address {
  min-width: 139px;
  width: 139px;

  font-style: normal;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $colorFont--lessDark;
}

.contacts__street,
.contacts__city {
  padding: 0;
  margin: 0;
}

@media (min-width: $widthTablet) {

  .contacts {
    padding-top: 63px;
    padding-bottom: 58px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: calc(23 / 20);
    max-width: 175px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: right;
    max-width: 180px;
    width: 160px;
  }

  .contacts__street {
    padding-bottom: 20px;
  }
}

@media (min-width: $widthDesktop) {
  .contacts {
    position: relative;
    width: 570px;
    z-index: 1;
    transform: translateX(-325px);
    padding-left: 76px;
  }

  .contacts__address {
    text-align: left;
    width: 175px;
  }
}
