.map {
  @include wrapCenteredImage(100%, 362px);
}

.map__img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

@media (min-width: $widthTablet) {
  .map {
    height: 400px;
  }
}

@media (min-width: $widthDesktop) {
  .map {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
  }
}
