.benefit {
  display: grid;
  align-items: center;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: $colorBackground--moreLight;

  grid-template-columns: 67px 1fr;
}

.benefit__wrapImg {
  @include wrapCenteredImage(67px, 67px);

  left: -7px;

  &::before {
    @include centerImage;

    content: "";

    display: block;
    width: 50px;
    height: 50px;

    background-color: $colorBackground--dark;
    border-radius: 50%;
  }
}

.benefit__img {
  @include centerImage;

  position: absolute;

  width: 100%;
  height: 100%;

  .benefit--slim & {
    height: 75%;

    transform: translate(-50%, -57%);
  }
}

.benefit__title {
  margin: 0;
  padding-right: 10px;
  padding-left: 4px;

  font-weight: normal;
  font-size: 24px;
  line-height: calc(37 / 24);
  font-family: $fontMajor;
  text-transform: uppercase;
}

.benefit__description {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: calc(18 / 14);
  color: $colorFont--lessDark;

  border-bottom: 1px solid $colorDecor--leastLight;

  grid-column: 1 / -1;
}

.benefit__link {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: calc(16 / 16);
  font-family: $fontMajor;
  text-transform: uppercase;

  grid-column: 1 / -1;
  justify-self: start;

  &:hover .benefit__linkWrapImg {
    transform: translateX(0);
  }

  &:active {
    opacity: 0.3;
  }
}

.benefit__linkText {
  position: relative;
  z-index: 50;

  padding-right: 15px;

  background-color: $colorBackground--moreLight;
}

.benefit__linkWrapImg {
  @include wrapCenteredImage(32px, 11px);

  z-index: 49;

  min-width: 32px;

  font-size: 0;
  line-height: 0;

  transform: translateX(-8px);

  transition: transform 0.2s;
}

.benefit__linkImg {
  @include centerImage;
}

@media (min-width: $widthTablet) {
  .benefit {
    position: relative;

    padding-top: 76px;
    padding-right: 312px;
    padding-bottom: 41px;
    padding-left: 53px;

    grid-template-columns: 1fr;

    &--slim {
      padding-right: 275px;
    }
  }

  .benefit__wrapImg {
    position: absolute;
    top: 51%;
    right: 28px;
    left: auto;

    width: 268px;
    height: 268px;

    transform: translateY(-50%);

    &::before {
      width: 200px;
      height: 200px;
    }
  }

  .benefit__title {
    padding-left: 0;

    font-size: 36px;
    line-height: calc(36 / 36);
  }

  .benefit__description {
    padding-top: 25px;
    padding-bottom: 33px;

    font-size: 16px;
    line-height: calc(24 / 16);
    color: $colorFont--mostDark;

    border-bottom: none;
  }

  .benefit__link {
    font-size: 20px;
    line-height: calc(27 / 20);
  }

  .benefit__linkText {
    padding-right: 24px;
  }
}

@media (min-width: $widthDesktop) {
  .benefit {
    align-items: start;
    max-width: 570px;
    padding-top: 28px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 52px;

    grid-template-columns: 134px 1fr;
  }

  .benefit__wrapImg {
    position: relative;
    top: 1px;
    right: auto;
    left: -18px;

    width: 134px;
    height: 134px;

    transform: none;


    &::before {
      width: 100px;
      height: 100px;
    }
  }

  .benefit__title {
    padding-top: 49px;
    padding-left: 28px;
  }

  .benefit__description {
    padding-bottom: 8px;
  }

  .benefit__linkText {
    padding-right: 28px;
  }
}
