.expenses {
  font-size: 14px;
  line-height: calc(20 / 14);
  font-family: $fontMajor;
  text-align: center;
  text-transform: uppercase;
}

.expenses__title {
  display: inline-block;
}

.expenses__currency {
  display: inline-block;
}

@media (min-width: $widthTablet) {
  .expenses {
    font-size: 20px;
    line-height: calc(30 / 20);
    max-width: 175px;
    text-align: right;
  }
}

@media (min-width: $widthDesktop) {
  .expenses {
    width: 328px;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
