.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  font-family: $fontMajor;
  color: $colorFont--mostLight;
  padding-top: 28px;
}

.promo__mainTitle {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 26px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.promo__subTitle {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 28px;
}

.promo__wrapImg {
  @include wrapCenteredImage(100%, 270px);
}

.promo__img {
  @include centerImage;
}

.promo__refLink {
  font-size: 14px;
  line-height: 18px;
  padding: 11px;
  width: 100%;
  margin-top: 3px;
}
