.results {
  @include pureUl;

  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.results__item {
  position: relative;

  width: 124px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;

  text-align: center;

  border: 1px solid $colorDecor--lessDark;
  border-radius: 5px;
}

.results__value {
  display: block;

  font-size: 24px;
  line-height: calc(24 / 24);
  font-family: $fontMajor;
  text-transform: uppercase;
}

.results__claim {
  position: absolute;
  bottom: -17px;
  left: 50%;

  display: inline-block;
  width: 65%;

  font-size: 12px;
  line-height: calc(12 / 12);
  color: $colorFont--lessDark;

  background-color: $colorBackground--lessLight;
  transform: translateX(-50%);
}

@media (min-width: $widthTablet) {
  .results {
    flex-wrap: wrap;
    width: 366px;
  }

  .results__item {
    width: 162px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .results__value {
    font-size: 30px;
    line-height: calc(37 / 30);
  }

  .results__claim {
    bottom: -6px;

    width: auto;
    max-width: 100%;
    padding: 0 10px;
    overflow: hidden;

    font-size: 14px;
    line-height: calc(14 / 14);
    white-space: nowrap;

    background-color: $colorBackground--mostLight;
  }
}

@media (min-width: $widthDesktop) {
  .results {
    padding-bottom: 3px;
  }

  .results__claim {
    background-color: $colorBackground--moreLight;
  }
}
