.sample {
  background-color: $colorBackground--lessLight;
}

.sample__text {
  margin: 0;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: calc(18 / 14);
  color: $colorFont--lessDark;
  word-spacing: 1px;
}

.sample__results {
  margin: 0;
}

.sample__expenses {
  padding-bottom: 34px;
}

@media (min-width: $widthTablet) {
  .sample {
    background-color: $colorBackground--mostLight;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .sample__text {
    padding-top: 33px;
    padding-right: 15px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: calc(24 / 16);
    word-spacing: 0;
  }

  .sample__results {
    margin-top: 53px;
  }

  .sample__expenses {
    margin-top: 53px;
  }
}
