.sample {
  .blockTitle {
    margin: 0;
  }
}

.sample__container {
  background-color: $colorBackground--lessLight;
}

.sample__text {
  margin: 0;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: calc(18 / 14);
  color: $colorFont--lessDark;
  word-spacing: 1px;
}

.sample__results {
  margin: 0;
}

.sample__expenses {
  padding-bottom: 34px;
}

@media (min-width: $widthTablet) {
  .sample__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $colorBackground--mostLight;
  }

  .sample__text {
    padding-top: 33px;
    padding-right: 15px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: calc(24 / 16);
    word-spacing: 0;
  }

  .sample__results {
    margin-top: 53px;
  }

  .sample__expenses {
    margin-top: 53px;
  }
}

@media (min-width: $widthDesktop) {
  .sample {
    position: relative;

    background-color: $colorBackground--moreLight;

    .blockTitle {
      position: relative;

      margin: 0;
      padding-bottom: 76px;

      background-color: $colorBackground--mostLight;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      display: block;
      width: calc(50% - 322px);
      height: 100%;

      background-color: $colorBackground--lessLight;
    }
  }

  .sample__container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 35px;

    background-color: $colorBackground--moreLight;
  }

  .sample__text {
    max-width: 450px;
    padding-top: 12px;
  }

  .sample__results {
    margin-top: 67px;
  }
}
