.slider {
  padding-bottom: 28px;

  background-color: $colorBackground--lessLight;
}

.slider__track {
  position: relative;

  width: 100%;
  max-width: 320px;
  height: 240px;
  margin-right: auto;
  margin-bottom: 27px;
  margin-left: auto;
  overflow: hidden;
}

.slider__slide {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  &:first-of-type {
    left: 0;
    z-index: 40;

    .slider__img {
      object-position: left;
    }
  }

  &:last-of-type {
    right: 0;
    z-index: 39;

    width: 0;

    .slider__img {
      object-position: right;
    }
  }
}

.slider__img {
  position: absolute;
  top: 50%;

  height: 100%;

  transform: translateY(-50%);

  user-select: none;

  object-fit: cover;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  margin-right: auto;
  margin-left: auto;
}

.slider__btn {
  position: relative;

  padding: 6px;

  font-size: 16px;
  line-height: calc(20 / 16);
  font-family: $fontMajor;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;

  user-select: none;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: calc(100% - 2 * 6px);
    height: 1px;

    border-bottom: 1px dotted transparent;
    transform: translateX(-50%);
  }

  &:hover::after {
    border-bottom: 1px solid $colorDecor--moreDark;
  }

  &:active::after {
    display: none;
  }
}

.slider__bar {
  position: relative;

  width: 84px;
  height: 14px;
  padding-right: 6px;
  padding-left: 6px;
  overflow: hidden;

  background-color: $colorBackground--mostLight;
  border: 1px solid $colorDecor--lessDark;
  border-radius: 6px;
}

.slider__roll {
  position: relative;
  top: 50%;

  width: 35px;
  height: 6px;

  background-color: $colorBackground--dark;
  border-radius: 6px;
  transform: translateY(-50%);
}

@media (min-width: $widthTablet) {
  .slider {
    position: relative;

    padding-top: 52px;
    padding-bottom: 65px;
    padding-left: 14px;

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 462px;

      background-color: $colorBackground--lessLight;
    }
  }

  .slider__track {
    max-width: 688px;
    height: 516px;
    margin-bottom: 10px;
  }

  .slider__control {
    position: relative;
    left: -7px;

    width: 582px;
  }

  .slider__bar {
    flex-grow: 1;
    width: auto;
    max-width: 428px;
    height: 6px;
    padding-right: 0;
    padding-left: 0;
    overflow: visible;

    background-color: $colorDecor--lessDark;
  }

  .slider__btn {
    font-size: 20px;
    line-height: calc(27 / 20);

    &::after {
      bottom: 3px;

      border-bottom: 1px dotted $colorFont--light;
    }
  }

  .slider__roll {
    width: 35px;
    height: 35px;

    background-color: $colorBackground--mostLight;
    border: 1px solid $colorDecor--lessDark;
    border-radius: 50%;
    box-shadow: 0 1px 3px $colorDecor--lessDark;
    cursor: pointer;

    &::after {
      @include centerImage;

      content: "";

      display: block;
      width: 8px;
      height: 8px;

      background-color: $colorBackground--dark;
      border-radius: 50%;
    }
  }
}

@media (min-width: $widthDesktop) {
  .slider {
    position: absolute;
    right: 0;
    left: 0;

    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    transform: translate(290px, -100%);

    &::before {
      display: none;
    }
  }

  .slider__track {
    margin-bottom: 30px;

    transform: translateX(7px);
  }

  .slider__control {
    transform: translateX(35px);
  }
}
