.stepsList {
  @include pureUl;

  padding-top: 4px;
}

.stepsList__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $colorBackground--dark;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
  }

  &:nth-of-type(1)::after {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &:nth-of-type(2)::after {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &:nth-of-type(3)::after {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &:nth-of-type(4)::after {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.stepsList__itemText {
  z-index: 10;

  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 20px;

  font-size: 14px;
  line-height: calc(18 / 14);
  color: $colorFont--lessDark;
}

@media (min-width: $widthTablet) {
  .stepsList {
    display: grid;
    padding-top: 0;
    overflow: hidden;

    column-gap: 137px;

    counter-reset: stepListItemIndex;
    //noinspection CssInvalidFunction

    grid-template-columns: repeat(auto-fill, 247px);
  }

  .stepsList__item {
    position: relative;

    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 120px;
    padding-bottom: 68px;
    padding-left: 0;

    &::before {
      content: counter(stepListItemIndex);
      position: absolute;
      top: 0;
      right: 0;

      display: inline-block;
      height: auto;

      font-weight: normal;
      font-size: 280px;
      line-height: calc(280 / 280);
      font-family: $fontMajor;
      color: $colorDecor--mostLight;

      counter-increment: stepListItemIndex;
    }

    &:nth-of-type(1)::before {
      right: 18px;
    }

    &::after {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  .stepsList__itemText {
    position: relative;

    padding-top: 33px;
    padding-left: 0;

    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

@media (min-width: $widthDesktop) {
  .stepsList {
    column-gap: 80px;

    grid-template-columns: repeat(4, 1fr);
  }

  .stepsList__item {
    margin-bottom: 10px;
  }
}
