.stepsList {
  @include pureUl;

  display: grid;
  padding-top: 4px;

  grid-template-columns: 1fr;
}

.stepsList__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stepsList__itemWrapImg {
  @include wrapCenteredImage(60px, 60px);

  min-width: 60px;

  background-color: $colorBackground--dark;
}

.stepsList__itemImg {
  @include centerImage;

  width: 100%;
}

.stepsList__itemText {
  margin: 0;
  padding-left: 20px;

  font-size: 14px;
  line-height: calc(18 / 14);
  color: $colorFont--lessDark;
}

@media (min-width: $widthTablet) {
  .stepsList {
    padding-top: 0;
    overflow: hidden;

    grid-template-columns: 1fr 1fr;
  }

  .stepsList__itemWrapImg {
    width: 80px;
    min-width: 80px;
    height: 80px;
  }

  .stepsList__item {
    position: relative;

    flex-wrap: wrap;
    align-content: flex-start;
    width: 245px;
    padding-top: 40px;
    padding-bottom: 72px;

    &::before {
      content: "1";
      position: absolute;
      top: 0;
      left: 114px;

      display: inline-block;
      height: auto;

      font-weight: normal;
      font-size: 280px;
      line-height: calc(280 / 280);
      font-family: $fontMajor;
      color: $colorDecor--mostLight;
    }

    &:nth-of-type(2)::before {
      content: "2";
    }

    &:nth-of-type(3)::before {
      content: "3";
    }

    &:nth-of-type(4)::before {
      content: "4";
    }

    &:nth-of-type(2n) {
      left: 30px;
    }
  }

  .stepsList__itemImg {
    width: 60%;
  }

  .stepsList__itemText {
    position: relative;

    padding-top: 33px;
    padding-left: 0;

    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

@media (min-width: $widthDesktop) {
  .stepsList {
    justify-content: space-between;

    grid-template-columns: repeat(4, 1fr);
  }

  .stepsList__item {
    margin-bottom: 10px;

    &:first-of-type {
      &::before {
        left: 119px;
      }
    }

    &:nth-of-type(1n) {
      justify-self: start;
    }

    &:nth-of-type(2n) {
      left: -10px;

      justify-self: center;
    }

    &:nth-of-type(3n) {
      left: 10px;

      justify-self: center;
    }

    &:nth-of-type(4n) {
      left: auto;

      justify-self: end;
    }
  }
}
