.card {
  position: relative;

  display: grid;
  padding-top: 2px;
  padding-bottom: 23px;

  grid-template-columns: 140px 1fr;
  grid-template-rows: auto 1fr auto;

  &::before,
  &:last-of-type::after {
    content: "";
    position: absolute;
    left: 50%;

    display: block;
    width: 200%;
    height: 1px;

    background-color: $colorDecor--moreLight;
    transform: translateX(-50%);
  }

  &::before {
    top: 0;
  }

  &:last-of-type::after {
    bottom: 0;
  }
}

.card__wrapImg {
  @include wrapCenteredImage(140px, auto);

  top: 6px;
  z-index: 24;

  align-self: end;
  margin-right: auto;
  margin-left: auto;

  grid-row: 1 / span 2;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 14px;

  font-weight: normal;
  font-size: 16px;
  line-height: (20 / 16);
  font-family: $fontMajor;
  color: $colorFont--dark;
  text-transform: uppercase;

  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.card__link {
  display: block;
  max-width: 65%;
}

.card__spec {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  line-height: (16 / 12);
  color: $colorFont--lessDark;

  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  td {
    margin: 0;
    padding: 0;
  }

  td:nth-of-type(2) {
    text-align: right;
  }
}

.card__button {
  position: relative;
  z-index: 25;

  width: 100%;

  grid-column: 1 / -1;
}

.card--more {
  .card__wrapImg {
    width: 30px;
    height: 30px;
    margin-top: 20px;

    font-size: 0;
    line-height: 0;

    grid-column: 1 / -1;
    grid-row: auto;


    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 30px;
      height: 2px;

      background-color: $colorDecor--leastDark;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $colorDecor--dark;
    }

    &:active::before,
    &:focus::before,
    &:active::after,
    &:focus::after {
      background-color: $colorDecor--moreLight;
    }
  }

  .card__title {
    padding-top: 30px;
    padding-bottom: 8px;

    text-align: center;
    color: $colorFont--moreDark;

    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card__link {
    max-width: 100%;
  }

  .card__spec {
    margin-bottom: 20px;

    text-align: center;

    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card__button {
    color: $colorFont--lessDark;

    background-color: $colorBackground--moreLight;

    &:hover {
      background-color: $colorBackground--light;
    }

    &:active,
    &:focus {
      color: $colorFont--moreLight;
    }
  }
}
