.card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-top: 1px solid $colorDecor--moreLight;

  &:last-of-type {
    padding-bottom: 22px;

    border-bottom: 1px solid $colorDecor--moreLight;
  }
}

.card__wrapImg {
  @include wrapCenteredImage(140px, auto);

  top: 6px;
  z-index: 24;

  align-self: end;
  margin-right: auto;
  margin-left: auto;
}

.card__info {
  width: calc(100% - 140px);
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 14px;

  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  font-family: $fontMajor;
  color: $colorFont--dark;
  text-transform: uppercase;
}

.card__link {
  display: block;
  max-width: 65%;
}

.card__spec {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: $colorFont--lessDark;

  td {
    margin: 0;
    padding: 0;
  }

  td:nth-of-type(2) {
    text-align: right;
  }
}

.card__button {
  position: relative;
  z-index: 25;

  width: 100%;
}

.card--more {
  .card__wrapImg {
    width: 30px;
    height: 30px;
    margin-top: 20px;

    font-size: 0;
    line-height: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 100%;
      height: 2px;

      background-color: $colorDecor--leastDark;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $colorDecor--dark;
    }

    &:active::before,
    &:focus::before,
    &:active::after,
    &:focus::after {
      background-color: $colorDecor--moreLight;
    }
  }

  .card__info {
    width: 100%;
  }

  .card__title {
    padding-top: 30px;
    padding-bottom: 8px;

    text-align: center;
    color: $colorFont--moreDark;
  }

  .card__link {
    max-width: 100%;
  }

  .card__spec {
    margin-bottom: 20px;

    text-align: center;
  }

  .card__button {
    color: $colorFont--lessDark;

    background-color: $colorBackground--moreLight;

    &:hover {
      background-color: $colorBackground--light;
    }

    &:active,
    &:focus {
      color: $colorFont--moreLight;
    }
  }
}

@media (min-width: $widthTablet) {
  .card {
    position: relative;

    align-content: flex-end;
    align-items: flex-end;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;

    background-color: $colorDecor--mostLight;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 69px;

      background-color: $colorBackground--mostLight;
    }

    &:last-of-type {
      padding-bottom: 39px;

      border: none;
    }
  }

  .card__wrapImg {
    top: auto;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 200px;
  }

  .card__img {
    width: auto;
    height: 100%;
  }

  .card__info {
    position: relative;

    width: 100%;
    padding-right: 35px;
    padding-bottom: 33px;
    padding-left: 35px;
  }

  .card__title {
    padding-top: 30px;
    padding-bottom: 12px;

    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;

    span {
      display: block;
    }
  }

  .card__link {
    max-width: none;
  }

  .card__spec {
    font-size: 16px;
    line-height: calc(16 / 16);

    tr {
      border-bottom: 1px solid $colorDecor--lessDark;
    }

    td {
      padding-top: 9px;
      padding-right: 3px;
      padding-bottom: 6px;
      padding-left: 3px;
    }
  }

  .card__button {
    margin-right: 37px;
    margin-left: 39px;
  }

  .card--more {
    .card__wrapImg {
      width: 60px;
      height: 60px;
    }

    .card__title {
      padding-top: 46px;
      padding-bottom: 16px;

      line-height: calc(22 / 20);
    }

    .card__info {
      padding-bottom: 60px;
    }

    .card__spec {
      max-width: 200px;
      margin-right: auto;
      margin-left: auto;

      line-height: calc(18 / 16);

      tr {
        border: none;
      }
    }
  }
}

@media (min-width: $widthDesktop) {
  .card__wrapImg {
    top: -7px;
  }

  .card__info {
    padding-bottom: 35px;
  }

  .card__button {
    margin-right: 38px;
  }

  .card--more {
    .card__title {
      padding-top: 41px;
    }
  }
}
