.card {
  position: relative;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto 1fr auto;
  padding-top: 5px;

  &::before,
  &:last-of-type::after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: $colorDecor--moreLight;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before{
    top: 0;
  }

  &:last-of-type::after {
    bottom: 0;
  }
}

.card__wrapImg {
  @include wrapCenteredImage(140px, auto);

  grid-row: 1 / span 2;
  align-self: end;
  margin-left: auto;
  margin-right: auto;
  z-index: 24;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $fontMajor;
  font-weight: normal;
  color: $colorFont--dark;
  text-transform: uppercase;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding-bottom: 14px;
  padding-top: 22px;
  margin: 0;
}

.card__link {
  display: block;
  max-width: 65%;
}

.card__spec {
  font-size: 12px;
  line-height: 16px;
  font-family: $fontMinor;
  font-weight: normal;
  color: $colorFont--lessDark;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border-spacing: 0;
  border-collapse: collapse;

  & td {
    padding: 0;
    margin: 0;
  }

  & td:nth-of-type(2) {
    text-align: right;
  }
}

.card__button {
  width: 100%;
  grid-column: 1 / -1;
  position: relative;
  z-index: 25;
}

.card--more {
  .card__wrapImg {
    grid-row: auto;
    grid-column: 1 / -1;
    width: 30px;
    height: 30px;
    margin-top: 20px;

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: $colorDecor--leastDark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 30px;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 30px;
    }

    &:hover::before,
    &:hover::after {
      background-color: $colorDecor--dark;
    }

    &:active::before,
    &:focus::before,
    &:active::after,
    &:focus::after {
      background-color: $colorDecor--moreLight;
    }

  }

  .card__title {
    grid-column: 1 / -1;
    grid-row: auto;
    color: $colorFont--moreDark;
    text-align: center;
  }

  .card__link {
    max-width: 100%;
  }

  .card__spec {
    grid-row: auto;
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
  }

  .card__button {
    background-color: $colorBackground--moreLight;
    color: $colorFont--lessDark;

    &:hover {
      background-color: $colorBackground--light;
    }

    &:active,
    &:focus {
      color: $colorFont--moreLight;
    }
  }
}
