.discount {
  padding-top: 59px;
  padding-bottom: 39px;

  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: $colorFont--mostLight;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

}

.discount__wrapImg {
  @include wrapCenteredImage(57px, 69px);

  display: block;
  margin-right: auto;
  margin-left: auto;
}

.discount__img {
  @include centerImage;

  width: 100%;
  height: 100%;
}

.discount__text {
  display: block;
  max-width: 165px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $widthTablet) {
  .discount {
    display: flex;
    padding-bottom: 68px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $hiRes--dpi), (min-resolution: $hiRes--dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .discount__wrapImg {
    margin-left: 89px;
  }

  .discount__text {
    margin-top: 13px;
    text-align: left;
    margin-right: 120px;
  }

}
