.extraList {
  @include pureUl;

  padding-top: 4px;
}

@media (min-width: $widthTablet) {
  .extraList {
    border: 1px solid $colorDecor--lessDark;
  }

  .extraList__item {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $widthDesktop) {
  .extraList {
    max-width: 896px;
    padding-top: 5px;

    border-right-color: transparent;
    border-left-color: transparent;
  }
}
