.more {
  overflow: hidden;
}

.more__discount {
  margin-top: 40px;
}

.more__extraList {
  margin: 0;
}

@media (min-width: $widthTablet) {
  .more__extraList {
    margin-top: 24px;
  }

  .more__discount {
    margin-top: 69px;
    margin-bottom: 76px;
  }

}
