.productList {
  @include pureUl;

  display: grid;

  grid-template-columns: 1fr;
}

@media (min-width: $widthTablet) {
  .productList {
    padding-top: 63px;
    padding-bottom: 3px;

    gap: 72px 60px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $widthDesktop) {
  .productList {
    padding-bottom: 12px;

    gap: 72px 81px;
    grid-template-columns: repeat(4, 1fr);
  }
}
