.selection {
  overflow: hidden;
}

.selection__invite {
  margin: 0;
  padding-right: 5%;
  padding-bottom: 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: $fontMajor;
  text-transform: uppercase;
}
