.authorSite {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

}

.authorSite__text {
  font-size: 16px;
  line-height: 18px;
  font-family: $fontMinor;
  font-weight: normal;
  color: $colorFont--lessDark;
  padding-right: 10px;
}

.authorSite__wrapImg {
  @include wrapCenteredImage(34px, 34px);
  min-width: 34px;
}

.authorSite__img {
  @include centerImage;
  width: 100%;
}


