.footer {
  background-color: $colorBackground--moreLight;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.footer__logoWrap {
  align-self: center;
  margin-bottom: 32px;
}

.footer__social {
  margin-top: 0;
  margin-bottom: 22px;
}

.footer__authorSite {
  margin-bottom: 22px;
}

@media (min-width: $widthTablet) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 29px;
    padding-bottom: 40px;
    padding-left: 7px;
  }

  .footer__logoWrap {
    margin-bottom: 0;
    width: 174px;
  }

  .footer__social {
    margin-bottom: 0;
  }

  .footer__authorSite {
    margin-bottom: 0;
  }
}

@media (min-width: $widthDesktop) {
  .footer__social {
    position: relative;
    left: 3px;
  }
}
