.social {
  @include pureUl;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $colorDecor--leastLight;
  border-bottom: 1px solid $colorDecor--leastLight;
}

.social__item {
  margin: 19px 16px;
}

.social__link {
  @include wrapCenteredImage(23px, 23px);

  display: block;

  &:active {
    opacity: 0.3;
  }
}

.social__img {
  @include centerImage;

  height: 100%;

  fill: $colorFont--leastDark;

  .social__link:hover & {
    fill: $colorBackground--dark;
  }

}

@media (min-width: $widthTablet) {
  .social {
    border: none;
  }

  .social__item {
    margin: 0 11px;
  }

  .social__link {
    width: 28px;
    height: 28px;
  }

  .social__img {
    width: 100%;
  }
}
