.hamburger {
  position: relative;

  display: block;
  width: 26px;
  height: 22px;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 0;

  font-size: 0;
  line-height: 0;

  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  opacity: 1;

  transition: box-shadow 0.15s linear, opacity 0.15s linear;

  &:hover {
    box-shadow: 0 0 1px 1px transparentize($colorFont--mostDark, 0.5);
    opacity: 0.5;
  }

  &--hiddenWithNoJS {
    display: none;
  }

  @media (min-width: $widthTablet) {
    display: none;
  }
}

.hamburger__inner {
  position: absolute;
  top: 50%;

  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;

  background-color: $colorFont--mostDark;

  transition: background-color 0.125s ease-in 0.175s;

  &::before,
  &::after {
    content: "";
    position: absolute;

    display: block;
    width: 24px;
    height: 2px;

    background-color: $colorFont--mostDark;
  }

  &::before {
    top: -7px;
    left: 0;

    transition: // formatter line
    transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.125s,
    left 0.125s ease-in 0.175s;
  }

  &::after {
    right: 0;
    bottom: -7px;

    transition: // formatter line
    transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.125s,
    right 0.125s ease-in 0.175s;
  }
}

.hamburger--pressedJS {
  .hamburger__inner {
    background-color: transparent;

    transition-delay: 0s;
    transition-timing-function: ease-out;
  }

  .hamburger__inner::before {
    top: -10px;
    left: -10px;

    transform: translate3d(10px, 10px, 0) rotate(45deg);

    transition: // formatter line
    transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s,
    left 0.125s ease-out,
    top 0.05s 0.125s linear;
  }

  .hamburger__inner::after {
    top: -10px;
    right: -10px;

    transform: translate3d(-10px, 10px, 0) rotate(-45deg);

    transition: // formatter line
    transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s,
    right 0.125s ease-out,
    top 0.05s 0.125s linear;
  }
}
