.header__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 200%;
    height: 1px;

    background-color: $colorDecor--light;
    transform: translateX(-50%);
  }
}

.header__logoWrap {
  position: relative;

  margin-top: 11px;
  margin-bottom: 16px;
}

.header__wrapNav {
  width: 100%;
  max-height: 999px;

  transition: max-height 0.2s;

  &--closedJS {
    max-height: 0;
  }
}

.header__nav {
  margin: 0;
}

@media (min-width: $widthTablet) {
  .header__container {
    flex-wrap: nowrap;
    padding-top: 24px;
    padding-bottom: 23px;

    &::after {
      display: none;
    }
  }

  .header__logoWrap {
    margin: 0;
  }

  .header__wrapNav {
    width: auto;

    &--closedJS {
      max-height: none;
    }
  }
}

@media (min-width: $widthDesktop) {
  .header {
    width: 100%;
    position: relative;
    z-index: 99;
  }

  .header__container {
    padding-top: 53px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .header__wrapNav {
    max-width: 50%;
  }
}
