.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 200%;
    height: 1px;
    background-color: $colorDecor--light;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.header__logoWrap {
  margin-top: 11px;
  margin-bottom: 16px;
  position: relative;
}

.header__wrapNav {
  width: 100%;
  max-height: 999px;
  transition: max-height 0.2s;

  &--closedJS {
    max-height: 0;
  }

  @media (min-width: $widthTablet) {
    &--closedJS {
      max-height: none;
    }

    width: auto;
  }
}

.header__nav {
  margin: 0;
}
