.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontMajor;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $colorFontMain;
  padding-top: 22px;
  padding-bottom: 24px;
}

