*,
*::before,
*::after {
  outline: 1px solid red;
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  color: $colorFont--mostDark;
  text-decoration: none;
}

html,
body {
  color: $colorFont--mostDark;

  background-color: $colorBackground--mostLight;
}
