@mixin centerImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wrapCenteredImage($width: 100%, $height: auto) {
  width: $width;
  height: $height;
  position: relative;
  overflow: hidden;
}

@mixin stylePlaceholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}
