//(( MEDIA ))
$widthTablet: 768px;
$widthDesktop: 1300px;

//(( FONTS ))
$fontMinor: 'Arial', 'Helvetica', sans-serif;
$fontMajor: 'Oswald', 'Tahoma', 'Geneva', sans-serif;

//(( COLORS ))
$colorBackingMain: #fff;
$colorFontMain: #000;
