//(( MEDIA ))
$widthTablet: 768px;
$widthDesktop: 1440px;
$hiRes--dpi: 144dpi;
$hiRes--dppx: 2dppx;

//(( FONTS ))
$fontMinor: "Arial", "Helvetica", sans-serif;
$fontMajor: "Oswald", "Tahoma", "Geneva", sans-serif;

//(( COLORS ))

// Background
$colorBackground--mostLight: #ffffff;
$colorBackground--moreLight: #f2f2f2;
$colorBackground--light: #ebebeb;
$colorBackground--lessLight: #eaeaea;
$colorBackground--leastLight: #d2e9c3;
//   ---
$colorBackground--dark: #68b738;
$colorBackground--moreDark: #5eaa2f;

// Font
$colorFont--mostLight: #ffffff;
$colorFont--moreLight: #b9b9b9;      //#bdbdbd
$colorFont--light: #b2b2b2;          //#b3b3b3
$colorFont--lessLight: #bfddac;
$colorFont--leastLight: #8ec36d;
//   ---
$colorFont--leastDark: #666666;
$colorFont--lessDark: #444444;
$colorFont--dark: #222222;
$colorFont--moreDark: #111111;
$colorFont--mostDark: #000000;

// Decor
$colorDecor--mostLight: #f2f2f2;
$colorDecor--moreLight: #ebebeb;
$colorDecor--light: #e6e6e6;          //#e7e7e7
$colorDecor--lessLight: #dcdcdc;
$colorDecor--leastLight: #d9d9d9;
//   ---
$colorDecor--leastDark: #d3d3d3;
$colorDecor--lessDark: #cdcdcd;
$colorDecor--dark: #bababa;           //#b8b8b8
$colorDecor--moreDark: #919191;
$colorDecor--mostDark: #444444;
//   ---
$colorDecor--error: #ff8282;
