.blockTitle {
  padding-top: 30px;
  padding-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-family: $fontMajor;
  font-weight: normal;
}

.blockTitle--sub {
  font-size: 24px;
  line-height: 26px;
  font-family: $fontMajor;
  font-weight: normal;
  padding-top: 29px;
  padding-bottom: 33px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 200%;
    height: 2px;
    background-color: $colorBackground--dark;
    position: absolute;
    top: 45px;
    left: 0;
  }

  span {
    position: relative;
    background-color: $colorBackground--mostLight;
    display: inline-block;
    padding-right: 20px;
  }
}

.blockTitle--stripped {
  max-width: 75%;
}
