.button {
  display: inline-block;
  padding: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: (20 / 16);
  font-family: $fontMajor;
  text-align: center;
  color: $colorFont--mostLight;
  text-transform: uppercase;

  border: none;
  outline: none;
  text-decoration: none;

  background-color: $colorBackground--dark;
  cursor: pointer;

  &:hover {
    background-color: $colorBackground--moreDark;
  }

  &:active,
  &:focus {
    color: $colorFont--leastLight;

    background-color: $colorBackground--moreDark;
  }
}
