.logo {
  @include wrapCenteredImage(192px, 38px);

  &--name {
    width: 128px;
    height: 24px;
  }

  &:not(&--active):hover {
    opacity: 0.8;
  }

  &:not(&--active):active {
    opacity: 0.6;
  }
}

.logo__img {
  @include centerImage;
}

@media (min-width: $widthTablet) {
  .logo {
    width: 174px;
    min-width: 174px;
    height: 52px;
  }
}

@media (min-width: $widthDesktop) {
  .logo {
    width: 202px;
    height: 60px;
  }
}
